/*----------------------------------------------------//
//-------------------Normalize CSS-------------------//
//--------------------------------------------------*/
@import "normalize.less";

/*----------------------------------------------------//
//------------------Page Foundation------------------//
//--------------------------------------------------*/
html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #f1f1f1 !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3 {
  color: #444 !important;
}

h1 {
  font-size: 52px !important;
}

p, span {
  color: #767676 !important;
}

label em {
  color: #a94442;
}

/*----------------------------------------------------//
//-------------------Nav Bar Icons-------------------//
//--------------------------------------------------*/
.navbar i.fa {
  line-height: 50px;
  .transition(all 250ms ease-in-out);
  color: rgba(68, 68, 68, 0.35);
}

.navbar a:hover i.fa {
  color: rgba(68, 68, 68, 0.75);
}

.social-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 25px;
  margin-left: 18px;
  margin: 27px 0 27px 20px;
  float: right;
  .transition(all 250ms ease-in-out);
}

.social-circle .fa-facebook {
  padding: 0 18px;
}

.social-circle .fa-twitter {
  padding: 0 10px;
}

.social-circle .fa-linkedin, .social-circle .fa-youtube {
  padding: 0 11px;
}

/*----------------------------------------------------//
//---------------------Hero Unit---------------------//
//--------------------------------------------------*/
#heroFill {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -26px;
  min-height: 768px;
  background-color: #161616;
}

#bgFade {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.skate-shop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg_hero_skateshop.jpg) no-repeat center center;
  
}

.jewlery-shop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg_hero_jewlery.jpg) no-repeat center center;
}

.silverware-shop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg_hero_silverware.jpg) no-repeat center center;
}

.sports-shop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg_hero_sports.jpg) no-repeat center center;
}

.fashion-shop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg_hero_fashion.jpg) no-repeat center center;
}

#heroWrap {
  height: 100%;
  min-height: 768px;
  max-height: 1080px;
  position: relative;
}

.hero {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  padding: 0 40px;
  z-index: 9;
}

.hero h1 {
  font-weight: 800 !important;
  font-size: 68px !important;
  color: #f1f1f1 !important;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.75), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 8px 23px rgba(0, 0, 0, 0.1);
}

.hero span {
  font-size: 24px;
  color: #f1f1f1 !important;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75), 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 6px 8px rgba(0, 0, 0, 0.1), 0px 4px 23px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.hero span strong {
  color: #53D55F;
}

.hero span.choice {
  font-family: 'Petit Formal Script', cursive;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
  border-radius: 32px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  margin-left: -32px;
  position: absolute;
  -webkit-transform: rotate(-15deg);
}

#heroChoiceWrap {
  margin: 40px 0;
}

#heroChoiceWrap #wrap {
  position: relative;
}

.choice-border-left {
  border-top: 2px solid white;
  width: 36px;
  position: absolute;
  left: 50%;
  margin-left: -84px;
  top: 32px;
}

.choice-border-right {
  border-top: 2px solid white;
  width: 36px;
  position: absolute;
  left: 50%;
  margin-left: 42px;
  top: 32px;
}

#discoverMore {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.35);
  margin-left: -47px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 9;
}

#discoverMore a {
  color: #ddd;
  .transition(color 250ms ease-in-out);

  &:hover {
    text-decoration: none;
    color: white;
  }
}

#discoverMore i {
  margin: 20px;
  text-shadow: 0px 3px 0px #5E5E5E, 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: #ddd;
  .transition(all 50ms ease-in-out);

  &:hover {
    color: #fff;
  }
  
  &:active {
    text-shadow: 0px 1px 0px darken(#04659d, 10%);
    -moz-transform: translateX(0px) translateY(2px);
    -webkit-transform: translateX(0px) translateY(2px);
    -o-transform: translateX(0px) translateY(2px);
    -ms-transform: translateX(0px) translateY(2px);
    transform: translateX(0px) translateY(2px);
  }
}

a#toggleInfographicClose > i {
  color: #f1f1f1 !important;

  &:hover {
    color: #fff !important;
  }
}

/*----------------------------------------------------//
//-------------------Shrunken Nav--------------------//
//--------------------------------------------------*/
.navbar.small-nav {
  min-height: 62px;
  border-bottom-color: #bbb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

ul.nav.navbar-nav.small-nav {
  left: 147px;
}

.navbar-brand.small-nav {
  padding: 17px 10px 9px;
}

a.navbar-brand img.small-nav {
  width: 142px;
  .transition(width 250ms ease-in-out);
}

.navbar-nav>li>a.small-nav {
  padding: 6px 10px;
}

.social-circle.small-nav {
  width: 36px;
  height: 36px;
  margin: 13px 0 13px 20px;
}

.social-circle.small-nav .fa-facebook {
  padding: 0 13px;
}

.social-circle.small-nav .fa-twitter {
  padding: 0 8px;
}

.social-circle.small-nav .fa-linkedin, .social-circle.small-nav .fa-youtube {
  padding: 0 9px;
}

.navbar i.fa.small-nav {
  font-size: 1.3333333333333333em;
  vertical-align: -15%;
  line-height: 36px;
}

#competition {
  position: relative;
  z-index: 10;
}

#infographic.row {
  padding-top: 40px;
  padding-bottom: 0;
  display: none;
}

/*----------------------------------------------------//
//--------------Responsive YouTube Embed-------------//
//--------------------------------------------------*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.expand-in, .bounce-in {
  visibility: hidden;
}

/*----------------------------------------------------//
//-----------------------Counter---------------------//
//--------------------------------------------------*/

#counterWrap {
  visibility: hidden;
}

#counterWrap span {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #444 !important;
}

#counterSectionWrap a.btn {
  margin: 26px 10px;
}

.counter {
  diplay: inline-block;
  font-weight: 300;
  font-style: italic;
  color: #767676;
}

.ds-element {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
}

.ds-element-value {
  padding: 10px 10px;
  border: 1px solid #ddd;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  line-height: 42px;
  color: rgba(68, 68, 68, 0.35);
  font-style: normal;
  font-weight: 800;
  background-color: #f1f1f1;
  box-shadow: inset 0px 1px 2px rgb(234, 234, 234);
}

.over-header {
  position: absolute;
  background-color: #ececec;
  left: 50%;
  top: -40px;
  height: 40px;
  border: 1px solid #dddddd;
  border-bottom-color: #ececec;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 11;
}

.over-header.dark {
  background-color: #232323;
  border: none;
}

.over-header.blue {
  background-color: #057bbf;
  border: none;
}

.over-header.how-it-works {
  margin-left: -130px;
  width: 260px;  
}

.over-header.lift-sales {
  width: 258px;
  margin-left: -129px;
}

.over-header.dark.signup, .over-header.blue.connect {
  top: -32px;
  margin-left: -35px;
  height: auto;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
}

.over-header.dark.signup i, .over-header.blue.connect i {
  font-size: 2em;
  padding: 18px 20px 0px 20px;
}

.over-header h2 {
  text-align: center;
  margin-top: 18px;
}

.section-statement {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.row.darkgray .section-statement {
  color: #f1f1f1 !important;
  margin-bottom: 10px;
}

#worksCircles {
  text-align: center;
}

.works-circle {
  visibility: hidden;
}

.works-circle, .connect-circle {
  height: 200px;
  width: 200px;
  border: 2px solid #057bbf;
  border-radius: 100px;
  background-color: white;
  display: inline-block;
  position: relative;
}

.connect-circle {
  border: 2px solid #f1f1f1;
  background-color: #232323;
}

a .connect-circle {
  color: #ececec;
  
}

.connect-circle > i {
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 15px;
  background-color: #232323;
  .transition(all 250ms ease-in-out);
}

.connect-circle > i.fa-facebook {
  padding: 10px 33px;
}

.connect-circle > i.fa-twitter {
  padding: 10px 13px;
}

.connect-circle > i.fa-linkedin, .connect-circle > i.fa-youtube {
  padding: 10px 15.5px;
}

a .connect-circle i:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 3px 0px #767676,
              0px 4px 3px rgba(0, 0, 0, 0.4),
              0px 8px 13px rgba(0, 0, 0, 0.1),
              0px 18px 23px rgba(0, 0, 0, 0.1);
}

a .connect-circle i.fa-facebook:hover {
  color: #3B5998;
  text-shadow: 0px 3px 0px #18417d,
               0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

a .connect-circle i.fa-twitter:hover {
  color: #55ACEE;
  text-shadow: 0px 3px 0px #0b82c1,
               0px 2px 0px #0b82c1,
               0px 1px 0px #0b82c1,
               0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

a .connect-circle i.fa-linkedin:hover {
  color: #4875B4;
  text-shadow: 0px 3px 0px #295d9a,
               0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

a .connect-circle i.fa-youtube:hover {
  color: #FF3333;
  text-shadow: 0px 3px 0px #a60000,
               0px 1px 0px #a60000,
               0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

.works-circle > img, .connect-circle > i {
  position: absolute;
  top: 50%;
  left: 50%;
}

#worksCircles span, #connectPayPal span {
  display: block;
  font-style: italic;
  font-weight: 300;
  color: #444 !important;
  font-size: 18px;
}

.works-circle > img.shopify {
  margin-top: -43px;
  margin-left: -38px;
}

.works-circle > img.paypal {
  margin-top: -39px;
  margin-left: -39px;
}

.works-circle > img.comments {
  margin-top: -33px;
  margin-left: -42px;
}

.works-circle > img.leaderboard {
  margin-top: -42px;
  margin-left: -42px;
}

#liftSales {
  text-align: center;
}

#liftSales .container .col-lg-12 .btn {
  margin: 40px 0;
}

#liftSales #paypalBrands.row {
  padding: 0;
  font-weight: 300;
}

#signUp h2 {
  text-align: center;
  color: #f1f1f1 !important;
  margin-bottom: 40px;
}

.signup-agreement {
  font-weight: 300;
  max-width: 290px;
}

#easyBusiness {
  text-align: right;
}

#footer {
  background-color: #444;
  padding: 20px 0;
  color: #dededd !important;
  border-top: 1px solid #767676;
  font-weight: 300;
}

#footer span {
  color: #dededd !important;
}

#connectPayPal span {
  color: #f1f1f1 !important;
}

/*----------------------------------------------------//
//-------------------Features Page-------------------//
//--------------------------------------------------*/

#headerContainer {
  margin-top: 104px;
}

#headerColumn > h1 {
  margin: 0;
  color: #f1f1f1 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75), 0px 0px 13px rgba(0, 0, 0, 0.1), 0px 6px 23px rgba(0, 0, 0, 0.1);
}

#quoteWrap {
  text-transform: uppercase;
  margin-top:14%;
  .clearfix();
}

#quoteWrap i.fa-quote-left {
  float: left;
  margin-left: 10%;
}

#quoteWrap i.fa-quote-right {
  float: right;
  margin-right: 10%;
}

#quoteWrap span {
  background-color: white;
  font-size: 24px;
  font-weight: 300;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

hr.video-spacer, hr.img-spacer {
  margin-top: 92px;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #ddd;
}

hr.img-spacer {
  margin:26px 20px;
}

.bab-winner-image {
  .img-responsive();
}

.features-header {
  background: url(../img/bg_header.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*----------------------------------------------------//
//-------------------Resource Page-------------------//
//--------------------------------------------------*/

.resources-header {
  background: url(../img/bg_header_resources.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resource-thumbnail {
  height: 142px;
  width: 142px;
  background-color: #ececec;
  margin: 55px auto;
  position: relative;
  border-radius: 71px;
  border: 2px solid #057bbf;
}

.resource-thumbnail  i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -29px;
  margin-top: -40px;
  color: #ececec;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);  
}

.resource-thumbnail  i:hover {
  color: #fff;
}

.resource-thumbnail.webinar {
  background: url(../img/thumb-paypal-webinar.jpg) no-repeat -104px 0;
  -webkit-background-size: 300% 100%;
  -moz-background-size: 300% 100%;
  -o-background-size: 300% 100%;
  background-size: 300% 100%;
}

.resource-thumbnail.express-checkout {
  background: url(../img/thumb-express-checkout.jpg) no-repeat -180px 0;
  -webkit-background-size: 270% 100%;
  -moz-background-size: 270% 100%;
  -o-background-size: 270% 100%;
  background-size: 270% 100%;
}

.resource-thumbnail.why-paypal {
  background: url(../img/thumb-why-paypal.jpg) no-repeat -253px center;
  -webkit-background-size: 300% 100%;
  -moz-background-size: 300% 100%;
  -o-background-size: 300% 100%;
  background-size: 300% 100%;  
}

.resource-thumbnail.what-express-checkout {
  background: url(../img/thumb-paypal-cash.jpg) no-repeat -225px center;
  -webkit-background-size: 380% 100%;
  -moz-background-size: 380% 100%;
  -o-background-size: 380% 100%;
  background-size: 380% 100%;
}


.col-md-8 #resourceArticleWrap:nth-last-child(1) {
  margin-bottom: 0;
}


/*----------------------------------------------------//
//---------------------Bootstrap---------------------//
//--------------------------------------------------*/
@import "/bootstrap/bootstrap.less";
@import "fadeIn.less";
/*----------------------------------------------------//
//----------------Bootstrap Overrides----------------//
//--------------------------------------------------*/
@import "bootstrap-overrides.less";
@import "bootstrap-modal.less";
/*----------------------------------------------------//
//----------------------Buttons----------------------//
//--------------------------------------------------*/
@import "buttons.less";
/*----------------------------------------------------//
//------------------Min Width 768--------------------//
//--------------------------------------------------*/
@import "min-768.less";
/*----------------------------------------------------//
//------------------Min Width 992--------------------//
//--------------------------------------------------*/
@import "min-992.less";
/*----------------------------------------------------//
//------------------Max Width 992--------------------//
//--------------------------------------------------*/
@import "max-992.less";
/*----------------------------------------------------//
//------------------Min Width 1200-------------------//
//--------------------------------------------------*/
@import "min-1200.less";
/*----------------------------------------------------//
//------------------Max Width 1200-------------------//
//--------------------------------------------------*/
@import "max-1200.less";
/*----------------------------------------------------//
//------------------Min Width 992--------------------//
//--------------------------------------------------*/
@import "max-768.less";
/*----------------------------------------------------//
//------------------Miax Width 400-------------------//
//--------------------------------------------------*/
@import "max-400.less";

#articleSliders.absoluteTop {
  position: absolute;
  top: 110px;
  bottom: auto;
  .transition(all 250ms ease-in-out);
}

#articleSliders.fixedScroll {
  position: fixed;
  top: 70px;
  bottom: auto;
  height: 46px;
  width: 46px;
  visibility: visible;
  opacity: 0.55;
  .transition(all 250ms ease-in-out);
}

#carouselArticles .carousel-control.fixedScroll i {
  line-height: 46px;
  .transition(all 250ms ease-in-out);
}

#indicator.row.gray.fixedScroll {
  width: 100%;
  position: fixed;
  top: 62px;
  z-index: 12;
  padding: 0;
  border-bottom-color: transparent;
  background-color: rgba(71, 71, 71, 0.25);
  .transition(background-color 250ms ease-in-out);
}

#articleSliders.absoluteBottom, #indicator.row.gray.absoluteBottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

#articleSliders.absoluteBottom {
  position: absolute;
  top: auto;
  bottom: 10px;
  height: 46px;
  width: 46px;
}

#articleSliders.absoluteBottom i {
  line-height: 46px;
}

#indicator.row.gray.absoluteTop {
  position: absolute;
  top: -102px;
}

#indicator.row.gray.absoluteBottom {
  padding: 0;
}
/*----------------------------------------------------//
//------------------Min Width 1400-------------------//
//--------------------------------------------------*/
@import "min-1400.less";
