@media (max-width: @screen-sm) {

	.hero {
		top: 19%;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero span {
		font-size: 18px;
	}

	.btn.cta {
		font-size: 22px;
	}

	#discoverMore a span {
		font-size: 18px;
	}

	.fa-10x {
		font-size: 5em;
	}

	#discoverMore {
		margin-left: -67px;
	}

	#discoverMore i {
		margin-left: 34px;
	}

	.navbar {
		max-height: 62px;
	}

	ul.nav.navbar-nav {
		position: static;
		left: auto;
	}
	.navbar-collapse {
		background-color: #f7f7f7;
	}
	.social-circle {
		float: none;
	}
	.navbar-right {
		text-align: center;
	}
	.navbar-toggle {
		margin: 14px 0;
	}
}
