@media (max-width: 768px) {

	.hero {
		top: 19%;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero span {
		font-size: 18px;
	}

	.btn.cta {
		font-size: 22px;
	}

	.navbar {
		max-height: 62px;
	}

	ul.nav.navbar-nav {
		position: static;
		left: auto;
	}
	.navbar-collapse {
		background-color: #f7f7f7;
	}
	.social-circle {
		float: none;
	}
	.navbar-right {
		text-align: center;
	}
	.navbar-toggle {
		margin: 14px 0;
	}

	.carousel-indicators {
		display: none;
	}

	#worksCircles.row .col-xs-6:nth-of-type(1) > .works-circle {
		margin-bottom: 95px;
	}

	#worksCircles.row .col-xs-6:nth-of-type(2) > .works-circle {
		margin-bottom: 95px;
	}
}
